<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Markets Obsessed</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="@routes.Assets.at("stylesheets/default.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@routes.Assets.at("stylesheets/fonts.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@routes.Assets.at("stylesheets/foundation.css")" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="@routes.Assets.at("javascripts/charts.js")"></script>
</head>
<body>

<div class="row">
    <div class="large-12 columns">

        <nav class="top-bar">
            <ul class="title-area">

                <li class="name">
                    <h1>
                        <a href="#">
                            Markets Obsessed
                        </a>
                    </h1>
                </li>
            </ul>
            <ul class="circle-div">
                    <li class="realtime-bar-name">
                        Risk-On
                    </li>
                    <li id="circle">
                    </li>
                    <li id="small">closed</li>
                    <li class="realtime-bar-name">
                        Risk-On-Num
                    </li>
                    <li class="realtime-bar-name">
                        Risk-Off
                    </li>
                    <li id="circle">
                    </li>
                    <li id="small">closed</li>
                    <li class="realtime-bar-name">
                        Risk-Off-Num
                    </li>
                    <li class="border-line">
                    </li>
                </ul>
            <li class="name" style="float:right"><h1>
                <a href="#">About</a></h1></li>
            </li>
        </nav>

    </div>
</div>

<section>
    <div id ="items">
        <div id ="usEquities" class="large-4 small-6 columns" style="background-color:blue;">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
            </div>
        </div>

        <div id ="emergingMarkets" class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
            </div>
        </div>

        <div id ="usBonds" class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
            </div>
        </div>

        <div id ="energy" class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
            </div>
        </div>

        <div id ="dollar" class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
            </div>
        </div>

        <div id ="gold" class="large-4 small-6 columns right">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
            </div>
        </div>
    </div>
    <div id="chart1" class="chart-area" >
        <div class="aspect-ratio" ></div>
        <div class="chart-wrapper" >
            <div class="chart" ></div>
        </div>
    </div>

</section>


<footer class="row">
    <div class="large-12 columns"><hr/>
        <div class="row">

            <div class="large-6 columns">
                <p>© Copyright no one at all. Go to town.</p>
            </div>

            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

</body>
</html>
